<div fxLayout="row" fxLayoutWrap="wrap" *ngIf="items!=undefined">
    <!-- first message -->
    <div fxLayout="column" *ngFor="let item of items.recordsAutoReply" fxFlex="100" fxFlex.gt-md="50">
        <mat-card class="user-card p-0">
            <mat-card-title class="bg-white">
                <div class="card-title-text">
                    <a href="" matTooltip="Message" class="toolbar-avatar md mr-1">
                        <mat-icon class="" style='font-size: 50px;'>note</mat-icon>
                    </a>
                    <span>
                        Auto Reply Message<BR>
                      <small> Auto reply message will be send in 1 to 30 minutes after the first reply from a connection is recieved.</small>
                      <br>                   
                      </span>
                    <span fxFlex></span>
                    <mat-slide-toggle class="ml-1" (change)="updateMsgStatus($event,'auto_reply_enabled')" [checked]="settings.data.auto_reply_enabled">{{settings.data.auto_reply_enabled==true?"Enabled":"Disabled"}}</mat-slide-toggle>

                    <button mat-icon-button [matMenuTriggerFor]="userMenu" class="">
              <mat-icon class="">more_vert</mat-icon>
          </button>
                    <mat-menu #userMenu="matMenu">
                        <button mat-menu-item (click)="edit(item.id,'recordsAutoReply')">Edit</button>

                    </mat-menu>
                </div>
                <mat-divider></mat-divider>
            </mat-card-title>
            <mat-card-content>
                <div class="mat-color-accent">

                </div>
                {{item.message}}
            </mat-card-content>
        </mat-card>
    </div>
    <div fxLayout="column" *ngFor="let item of items.recordsOnVacation" fxFlex="100" fxFlex.gt-md="50">
        <mat-card class="user-card p-0">
            <mat-card-title class="bg-white">
                <div class="card-title-text">
                    <a matTooltip="Message" class="toolbar-avatar md mr-1">
                        <mat-icon class="" style='font-size: 50px;'>note</mat-icon>
                    </a>
                    <span>
                        On Vacation Message <BR>
                      <small> On Vacation message will be send in 1 to 30 minutes after the first reply from a connection is recieved. This will disable Auto Reply Message.</small>
                      <br>                   
                      </span>
                    <span fxFlex></span>
                    <mat-slide-toggle class="ml-1" (change)="updateMsgStatus($event,'on_vacation_enabled')" [checked]="settings.data.on_vacation_enabled">{{settings.data.on_vacation_enabled==true?"Enabled":"Disabled"}}</mat-slide-toggle>

                    <button mat-icon-button [matMenuTriggerFor]="userMenu" class="">
              <mat-icon class="">more_vert</mat-icon>
          </button>
                    <mat-menu #userMenu="matMenu">
                        <button mat-menu-item (click)="edit(item.id,'recordsOnVacation')">Edit</button>

                    </mat-menu>
                </div>
                <mat-divider></mat-divider>
            </mat-card-title>
            <mat-card-content>
                <div class="mat-color-accent">

                </div>
                {{item.message}}
            </mat-card-content>
        </mat-card>
    </div>
</div>