<div fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="300px">
        <mat-card class="profile-sidebar mb-1 pb-0">
            <div class="propic text-center">
                <a [routerLink]="" (click)="goTo('picture')"> <img src="{{dataSvc.website}}/{{record.profile_pic}}" alt="">
                </a>
            </div>
            <div class="profile-title text-center mb-1">
                <div class="subtitle mb-05">
                    {{record.user_name}}</div>
                <div class="text-muted">{{record.first_name + ' '+record.middle_name+' ' + record.last_name}}</div>

            </div>
            <div class="profile-actions text-center mb-1">
                <button mat-raised-button (click)="delete(record.id)" color="warn"><mat-icon>delete</mat-icon>Delete</button>

            </div>
            <div class="profile-nav">
                <mat-nav-list>
                    <mat-divider></mat-divider>
                    <mat-list-item [routerLink]="routeUrl" routerLinkActive="list-item-active">
                        <mat-icon>account_box</mat-icon>
                        Profile
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item (click)="goTo('settings')" routerLinkActive="list-item-active">
                        <mat-icon>settings</mat-icon> Settings

                    </mat-list-item>
                </mat-nav-list>
            </div>
        </mat-card>
        <!-- Contact Information -->
        <mat-card class="default" *ngIf="userSvc.userRecord">
            <mat-card-title>Contact Information</mat-card-title>
            <mat-card-content class="pt-0">
                <mat-list>
                    <mat-list-item>
                        <mat-icon class="mr-1">email</mat-icon> {{userSvc.userRecord.email}}</mat-list-item>
                    <mat-list-item>
                        <mat-icon class="mr-1">phone</mat-icon>{{userSvc.userRecord.mobile}}</mat-list-item>
                    <mat-list-item>
                        <mat-icon class="mr-1">location_on</mat-icon>{{userSvc.userRecord.caddress}}</mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>

    </div>

    <!-- Profile Views -->
    <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="calc(100% - 300px)">

        <router-outlet></router-outlet>
    </div>
</div>