<mat-card class="p-0">
    <mat-tab-group>
        <mat-tab label="Summary">
            <mat-card-content class="mt-1">
                <ngx-datatable class="material ml-0 mr-0" [rows]="items" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50" [limit]="10" [rowHeight]="'auto'">
                    <ngx-datatable-column name="Name" [flexGrow]="1" prop="name">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.name }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Code" [flexGrow]="1" prop="affiliate_code">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.affiliate_code }}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Subscribed" [flexGrow]="1" prop="subscribe">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.subscribe}}
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </mat-card-content>
        </mat-tab>
        <mat-tab label="Codes">
            <mat-card-content class="mt-1">
                <div fxLayout="row" fxLayoutAlign="space-between ">
                    <div fxFlex>
                        <button (click)="requestCode()" mat-raised-button color="primary" class='margin-333'>Request New Affiliate Code</button>
                    </div>


                </div>

                <ngx-datatable class="material ml-0 mr-0" [rows]="linkItems" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50" [limit]="10" [rowHeight]="'auto'">

                    <ngx-datatable-column [sortable]="false" name="Code" [flexGrow]="1">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.code}}
                        </ng-template>

                    </ngx-datatable-column>
                </ngx-datatable>
            </mat-card-content>
        </mat-tab>

    </mat-tab-group>
</mat-card>