<div fxLayout="row" fxLayoutAlign="space-between ">
    <div fxFlex>
        <button (click)="openNewDialog()" mat-raised-button color="primary" class='margin-333'><mat-icon class="">youtube_searched_for</mat-icon> Create New Search Task</button>

    </div>
</div>
<div fxLayout="row" fxLayoutWrap="wrap">

    <div fxLayout="column" *ngFor="let item of items" fxFlex="100" fxFlex.gt-md="25">
        <mat-card class="user-card p-0">
            <mat-card-title class="bg-white">
                <div class="card-title-text">
                    <a routerLink="./results/{{item.id}}" matTooltip="Search" class="toolbar-avatar mr-1">
                        <mat-icon class="" style='font-size: 35px;'>youtube_searched_for</mat-icon>
                    </a>
                    <span>
                        <b>{{item.name}}</b><BR>
                        <small>{{item.typeText}}</small>
                        </span>
                    <span fxFlex></span>
                    <button mat-icon-button [matMenuTriggerFor]="userMenu" class="">
              <mat-icon class="">more_vert</mat-icon>
          </button>
                    <mat-menu #userMenu="matMenu">
                        <button mat-menu-item (click)="edit(item.id)">Edit</button>
                        <button mat-menu-item (click)="delete(item.id)">Delete</button>
                    </mat-menu>
                </div>
                <mat-divider></mat-divider>
            </mat-card-title>
            <mat-card-content>
                <div class="p-05 fontcolor-{{item.status}}"><b>Status</b> : {{item.status}}<br></div>
                <div class="p-05">
                    <b>Date</b> : {{item.date}}
                    <BR><b> Results</b>: {{item.sresults +"/"+item.result_count}}
                    <div *ngIf="item.type=='standard_search'">
                        <div *ngFor="let key of item.settings.keys" class="title1">
                            <b>{{key}}</b> : {{item.settings.data[key]}}
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>