<div fxLayout="row" fxLayoutAlign="space-between ">

    <div fxFlex class="search-bar">

        <form class="top-search-form mat-box-shadow">
            <mat-icon role="img">search</mat-icon>
            <input autofocus="true" placeholder="Search Partners" type="text" (keyup)='updateFilter($event)'>
        </form>
    </div>

</div>
<div fxLayout="row" fxLayoutWrap="wrap">
    <div fxLayout="column" fxFlex="100">
        <div *ngFor="let item of res.errors" class="p-1 margin-333 pr-1 mat-bg-warn">
            {{lang.trans(item)}}
        </div>
        <div *ngFor="let item of res.successes" class="p-1 margin-333 mat-bg-accent">
            {{lang.trans(item)}}
        </div>
    </div>
    <div *ngIf="accountLoaded==false" class="m-1" fxFlex="100">
        <mat-progress-bar mode="indeterminate" class="session-progress"></mat-progress-bar>
    </div>
</div>
<mat-card class="p-1">
    <mat-card-content class="p-0">
        <ngx-datatable [selectAllRowsOnPage]="false" #table class="material ml-0 mr-0" [rows]="res.data.records" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [limit]="10" [rowHeight]="'auto'">


            <ngx-datatable-column name="Email" [flexGrow]="1" prop="email">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <a routerLink="{{row.user_id}}" matTooltip="Access Partner">
                        <mat-icon>chevron_right</mat-icon> {{ row.email }}</a>


                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Name" [flexGrow]="1" prop="name">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.name}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Refferal Subs." [flexGrow]="1" prop="affiliateCtr">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.affiliateCtr}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="PromoCode Subs." [flexGrow]="1" prop="promoCtr">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.promoCtr}}
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </mat-card-content>
</mat-card>